.logo{
    margin-top: 1em;
    margin-bottom: 1em;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container.session{
    justify-content: flex-end;
}
.texte{
    width: 75%;
}
.card{
    margin-top: 25px;
    width: 30%;
    border: solid black 0.1em;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
footer{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}
.connexion{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 50px 20px;
}
.identifiant{
    margin-bottom: 5px;
}
.motDePasse{
    margin-bottom: 5px;
}