.topbanniere{
    background-color: #4B4B4D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-top: 1em;
    margin-bottom: 1em;
}
.navbar{
    background-color: #EFB200;
    border-style: inset outset;
}