.logo{
    margin-top: 1em;
    margin-bottom: 1em;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}
.containerArticle{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.containerArticle .card{
    width: 100%;
}
.card{
    margin-top: 25px;
    width: 30%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.texte{
    padding: 10px 5px 5px 10px;
}
footer{
    margin-top:auto;
    padding-top: 25px;
    border-top: solid 1px grey;
    background: linear-gradient(#4E5566,#3A404D);
}
.connexion{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 50px 20px;
}
.identifiant{
    margin-bottom: 5px;
}
.motDePasse{
    margin-bottom: 5px;
}
.containerJeu{
    display: flex;
    justify-content: center;
    align-content: center;
}
.jeu{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 1000px;
    border: solid 5px black;
    border-radius: 10%;
    margin: 5% auto 5% auto;
    flex-direction: column;
}
.boutonChoix{
    display: flex;
    justify-content: center;
}