* {
    text-decoration: none ;
}

.box-categorie {
    background-color: #EFB200;
    width: 50%;
    border: 2px solid rgb(75, 75, 77);
    border-bottom: 0px;
    border-radius: 3em 3em 0em 0em;
    margin-top: 2em;
    padding-left: 0.9em;
    font-size: 1.7em;
}

.box-link {
    background-color: rgba(75, 75, 77, 0);
    border: 2px solid rgb(75, 75, 77);
    transition: background-color 260ms 40ms, color 300ms;
    font-size: 1.2em;
}

.box-link:hover {
    background-color: rgba(75, 75, 77, 1);
    color: white;
}

.box-link a {
    color: rgb(75, 75, 77);
}

.box-link:hover a, .box-link a:hover {
    color:white;
    text-decoration: none !important;
}

.box-link:nth-child(2) {
    border-radius: 0em 3em 0em 0em;
    border-bottom: 0px;
}

.box-link:last-child {
    border-radius: 0em 0em 3em 3em;
    border-top: 0px;
}
.box-link:last-of-type {
    margin-bottom: 2em;
}

.link {
    padding-left: 1.2em;
}

.box-title-section {
    background-color: #EFB200;
    width: fit-content;
    border: 2px solid rgb(75, 75, 77);
    border-bottom: 0px;
    border-radius: 3em 3em 0em 0em;
    margin-top: 1.5em;
    padding: 0 0.9em;
    font-size: 2.3em;
}